*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}


.error{
    color:red;
    font-size: small;
}

.tablink{
    color: #198754;
    background-color: white;
    cursor: pointer;
}

.tablink:focus{
    border-color: lightgreen;
}

.tablink:active{
    background-color: #198754;
    color: white; 
}



