*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important
}


.error{
    color:red;
    font-size: small;
}



